/* add code here */
.funny-glasses {
    position: relative;
    left: 215px;
    bottom: 110px;
}

.bandana {
    position: absolute;
    top: 175px;
    left: 115px;
}

.pawprint {
    position: fixed;
    top: 45px;
    left: 65px;
}

.luna {
    position: sticky;
    left: 1em;
}

.top-hat {
    z-index: 1;
}